
.search-bar {
  margin: 24px 16px;
}
.video-item img {
  max-width: 64px;
}
.video-list {
  font-size: 12px;
}
.loading-box {
  margin-top: 10px;
  text-align: center;
  color: #bbb;
}
.video-player {
  border-radius: 8px;
}
.list-group-item {
  cursor: pointer;
}
.list-group-item:hover {
  background-color: #eee;
}
.loading-box .glyphicon {
  margin-right: .5em;
}
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}
