.weather-list td,
.weather-list th {
  vertical-align: middle !important;
  text-align: center !important;
}

.chart svg {
  height: 120px;
}

.input-group {
  margin: 20px 0;
}

.city-map > div {
  height: 180px;
  width: 180px;
}
